spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        dialect: org.hibernate.dialect.H2Dialect
    open-in-view: false

logging:
  level:
    root: info
    org.hibernate.SQL: debug
security:
  cors:
    allowed-origins: http://localhost:3000
    allowed-methods: GET,POST,PUT,DELETE,OPTIONS
    allowed-headers: "*"
    allow-credentials: true
  cookie:
    secure: false
    same-site: Lax
    access-max-age-seconds: 1800
    refresh-max-age-seconds: 604800
    domain:
  jwt:
    check-db: false

jwt:
  secret: ${JWT_SECRET:local-dev-secret-should-be-at-least-32-characters!}
  access-token-validity-in-seconds: 900   # 15ë¶„
  refresh-token-validity-in-seconds: 604800

cache:
  refresh-token:
    ttl-seconds: 900
  access-token-blacklist:
    ttl-seconds: 900
