spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

logging:
  level:
    root: warn

security:
  cookie:
    secure: false
    same-site: Lax
    access-max-age-seconds: 1800
    refresh-max-age-seconds: 604800
    domain:
  jwt:
    check-db: false

jwt:
  secret: ${JWT_SECRET:test-secret-should-be-at-least-32-characters-long!}
  access-token-validity-in-seconds: 900

cache:
  refresh-token:
    ttl-seconds: 900
  access-token-blacklist:
    ttl-seconds: 900
